layout: index
subtitle: The easiest way WeChat application development
comment: false
is_home: true
---


ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title Simple, clear API
      p.intro-feature-desc So you will not longer have to remember those names and painful method, we make everything more semantic, more succinct name.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title Clearer module division
      p.intro-feature-desc You do not take the time to study WeChat official documents, do not have to repeat that there is no law debugging API, and we have already done for you.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-book
      h3.intro-feature-title Extensive documentation and examples
      p.intro-feature-desc Since 3.0, we will provide a clearer and more standardized and more clear documentation and examples.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Complete API support
      p.intro-feature-desc Almost all of the WeChat API.