layout: donate
subtitle: 打赏
comment: false
is_home: false
---

div.donate

  .article.md-padding-y
    .article-header.text-center
      h1.article-title
        i.fa.fa-usd  打赏

    .article-content
      p 如果你觉得本 SDK 还不错，简化了你的开发工作，不妨打赏我一下，这样我就有更大的动力去完善它，优化它。

      h4 打赏的方式有两种：微信与支付宝，档位都有 10元、20元、30元、50元、100元与<strong>土豪档</strong>，绝对赤裸裸的金钱打赏！

      pre 请您打赏同时留下您的姓名（昵称也无所谓啦），以便于后期做列表使用 :smile: 。

  ul.nav.nav-tabs.clearfix.text-center
    li.active
      a(target="#tab-wechat") 微信
    li
      a(target="#tab-alipay") 支付宝

  div.tab-content.clearfix
    div.tab-pane.active#tab-wechat
      ul.qrcode-list
        li
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatwechat-10.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatwechat-20.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatwechat-30.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatwechat-50.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatwechat-100.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatwechat-custom.jpg")
    div.tab-pane#tab-alipay
      ul.qrcode-list
        li
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatalipay-10.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatalipay-20.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatalipay-30.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatalipay-50.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatalipay-100.jpg")
          img(src="http://7u2jwa.com1.z0.glb.clouddn.com/easywechatalipay-custom.jpg")
