layout: index
subtitle: 让微信开发更简单！
comment: false
is_home: true
---


ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title 简洁、清晰的 API
      p.intro-feature-desc 让你不会再为记住那些方法名称而痛苦，我们让一切都更加语义化，更加简洁的命名。符合 PSR-4 标准，你可以各种方便的与你的框架集成；
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title 更清晰的模块划分
      p.intro-feature-desc 你不用花时间去研究微信官方文档，不用再反复调试那没有规律的 API，我们已经为你做好了。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-book
      h3.intro-feature-title 丰富的文档与示例
      p.intro-feature-desc 从 3.0 开始，我们将会提供更清晰更规范更清晰的文档与示例。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 完整的功能支持
      p.intro-feature-desc 微信支付、硬件接入？应有尽有。