layout: index
description: FastD is a fast, simple & powerful PHP web framework powered by PHP5,7.
subtitle: 快速、简洁且高效的 PHP Web 框架
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 高效
      p.intro-feature-desc 参考 Symfony 而集成的框架,简化处理流程,提高代码执行效率
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 简单
      p.intro-feature-desc 想多简单就多简单.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 灵活
      p.intro-feature-desc composer 管理,随时随地整合自己的库.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 轻量
      p.intro-feature-desc 麻雀虽小,五脏具全.